.item-teaser {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: rgb(128 0 128 / 10%);
  padding: 0.75em;
  border: 1px solid rgb(81 81 81 / 50%);
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  transition:
    0.25s linear background-color,
    0.25s linear border-color;

  &:hover {
    background-color: rgb(128 0 128 / 5%);
    border-color: rgb(81 81 81 / 100%);
  }

  a {
    text-decoration: none;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  > .node__content {
    padding: 0.75em 0 0;
  }

  .field--name-field-teaser-text {
    @apply text-sm;
  }
}

.item-teaser {
  background-color: rgb(255 165 0 / 10%);

  &:hover {
    background-color: rgb(255 165 0 / 5%);
  }
}

/* .item-teaser__section {
  background-color: rgb(255 165 0 / 10%);

  &:hover {
    background-color: rgb(255 165 0 / 5%);
  }
} */

h2.item-teaser-title {
  @apply text-base;
  margin: 0;
  padding: 0;
}

h3.item-teaser-subtitle {
  @apply text-base;
  margin: 0;
  padding: 0;
}

.teaser-card-body {
  padding: 0.75em 0 0;
  margin: 0.75em 0 0;
  border-top: 1px solid rgb(0 0 0 / 25%);
}
