.person-bio-card {
  margin: 0;
  padding: 0;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  gap: 1rem;
  width: 100%;
  container-type: inline-size;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .headshot {
    display: block;
    margin: 0;
    padding: 0;
    width: 20cqi;
    flex-shrink: 0;

    img {
      display: block;
      padding: 0;
      margin: 0;
      width: 100%;
      height: auto;
    }
  }

  .bio-content {
    display: block;
  }  

  .field--name-field-person {
    @apply text-2xl font-bold m-0;
  }

  .role,
  .field--name-field-override-role {
    display: block;
    font-style: italic;
    font-weight: 700;
  }

  p {
    margin-top: .75rem;
  }
}