.person-bio-card {
  margin: 0;
  padding: 0;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  gap: 1rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .headshot {
    margin: 0;
  }

  .field--name-field-person {
    @apply text-2xl font-bold m-0;
  }

  .role,
  .field--name-field-override-role {
    display: block;
    font-style: italic;
    font-weight: 700;
  }

  p {
    margin-top: .75rem;
  }

  .bio-content {
    flex-grow: 1;
  }  
}