<h1>{{ label }}</h1>

<h2>Todo:</h2>
<p>
  Make a component for this!
</p>

{{ dump(node.field_volume_number.value) }}
{{ dump(node.field_issue_number.value) }}

{{ node.field_issue_reference.entity.field_journal_page_images_media|view }}