.section-teaser-card {
  border: 1px solid #515151;
  padding: 0.75rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  position: relative;
}

h2.section-teaser-title {
  margin: 0 0 0.75em;
  padding: 0 0 0.75em;
  border-bottom: 1px solid rgb(0 0 0 / 25%);
  font-size: 1em;
}
