<article class="volume volume-elements node--type-how2-volume">

	<div class="content">

		{{ title_prefix }}
		{% if title %}
			<h1 class="text-center !mb-5">{{ title }}</h1>
		{% endif %}
		{{ title_suffix }}

		{# Volume navigation #}
		{% if volume_navigation.prev or volume_navigation.next %}
			{% include "@publication-pager/publication-pager.html.twig" with {
				prev_link: volume_navigation.prev ? path('entity.node.canonical', {'node': volume_navigation.prev.id}) : null,
				prev_text: volume_navigation.prev ? volume_navigation.prev.label : null,
				next_link: volume_navigation.next ? path('entity.node.canonical', {'node': volume_navigation.next.id}) : null,
				next_text: volume_navigation.next ? volume_navigation.next.label : null,
			} %}
		{% endif %}

		<div class="issues mt-5">
			{{ issues }}
		</div>
	</div>

</article>
