/* stylelint-disable at-rule-no-deprecated */
.page-sections {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

div.page-section {
  border: 1px solid rgb(0 0 0 / 15%);
  background-color: rgb(0 0 0 / 5%);
  margin: 0;
  padding: 1rem;
}

.dev-text {
  @apply text-2xs;

  border: 1px solid rgb(0 0 0 / 18%);
  background-color: rgb(0 0 0 / 8%);
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
}

.dev-heading {
  @apply text-xs;

  margin-bottom: 0.5rem;
  font-family: monospace;
}

.sf-dump {
  margin: 0 0 0.5rem;
}

.footnotes {
  position: relative;
  margin: 2em 0;
  padding: 1em 0 0;
  border-top: 1px solid #000;
  font-size: 0.9em;
}

.footnotes__item-wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 1.25em) 1fr;
}

.footnote__citation,
.footnotes__item-backlink {
  text-decoration: none;
  font-weight: 600;
}

p,
ul,
ol,
pre,
blockquote {
  margin-top: 0.25em;
  margin-bottom: 1.25em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-semibold;
}

h5 {
  @apply text-base font-semibold;
}

h6 {
  @apply text-sm font-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  line-height: 1.2;
}

li {
  margin-bottom: 0.5em;
}

:first-child {
  margin-top: 0;
}

:last-child {
  margin-bottom: 0;
}
