* {
  box-sizing: border-box;
}

.layout-container,
%layout-container {
  width: 92%;
  margin: 0 auto;
  max-width: 1100px;
  transition: width 0.2s linear;

  @media all and (width >= 1024px) {
    width: 96%;
  }
}

.view-content {
  @apply bg-black/10;
}

.full-width,
%full-width {
  width: 100vw;
  position: relative;
  margin-left: -50vw !important;
  left: 50%;
}

.page-header,
.page-footer {
  padding: 1rem 0;
}

.page-content-area {
  padding: 2rem 0;
}
