html {
  font-size: 16px;
}

body {
  font-family: var(--font-family-sans);
  font-weight: 400;
  color: var(--color-body);
  font-size: 1rem;
  line-height: var(--line-height-normal);
  background-color: #fff;
  min-height: 100vh;

  > .dialog-off-canvas-main-canvas {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .page-header,
  .page-footer {
    flex-shrink: 1;
  }

  .page-content-area {
    flex-grow: 1;
  }
}

a {
  @apply text-[var(--color-primary)] 
    hover:text-[var(--color-primary-dark)] 
    no-underline 
    hover:underline 
    transition-colors 
    duration-150;
}

.button {
  @apply inline-flex
         gap-1
         px-4
         py-2
         font-medium
         rounded
         transition-colors
         duration-150
         bg-[var(--color-primary)]
         text-white
         text-base
         border
         border-[var(--color-primary)] 
         rounded
         inline-block
         no-underline
         hover:text-white
         hover:bg-[var(--color-primary-dark)]
         hover:border-[var(--color-primary-dark)];
}

.button--primary {
  @apply bg-[var(--color-primary)]  
         hover:bg-[var(--color-primary-dark)]
         border-[var(--color-primary)] 
         hover:border-[var(--color-primary-dark)]
         text-white
         hover:text-white;
}

.button--secondary {
  @apply bg-[var(--color-accent)]  
         hover:bg-[var(--color-accent)] 
         text-[var(--color-primary)]
         hover:text-[var(--color-primary-dark)]
         border-[var(--color-primary)] 
         hover:border-[var(--color-primary-dark)];
}

.button--small {
  @apply px-3
         py-1 
         text-sm;
}

.button--large {
  @apply px-5
         py-3 
         text-lg;
}
