.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.more,
%more {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &::after {
    content: "⇨";
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
    position: absolute;
    top: -6px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.clearfix,
%clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
