/* stylelint-disable at-rule-no-deprecated */
.publication-teaser {
  @apply transition-colors duration-500;

  font-size: 1rem;
  background-color: var(--color-accent);
  padding: 0;
  border: 1px solid #515151;
  position: relative;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  container-type: inline-size;

  &:hover {
    background-color: var(--color-yellow);
  }
}

.publication-teaser-inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .node__content {
    padding: 12cqi 3cqi 7cqi;
    text-align: center;
  }

  .publication-teaser-image {
    @apply transition-colors duration-500;

    text-align: center;
    width: 100cqi;
    height: 100cqi;
    background-color: var(--color-yellow);

    .publication-teaser:hover & {
      background-color: var(--color-secondary);
    }

    > div {
      display: contents;
    }

    img {
      position: absolute;
      object-fit: contain;
      object-position: center;
      height: 90cqi;
      width: 90cqi;
      top: 5cqi;
      left: 5cqi;
    }
  }

  .field--name-field-issue-number {
    @apply transition-colors duration-500;

    display: flex;
    background: #2e2e2e;
    background-color: var(--color-primary-dark);
    font-size: 14cqi;
    color: #fff;
    font-weight: 700;
    border-radius: 10cqi;
    width: 20cqi;
    height: 20cqi;
    line-height: 1;
    position: absolute;
    top: 87.5cqi;
    left: 40%;
    right: 40%;
    justify-content: center;
    align-items: center;

    .publication-teaser:hover & {
      background-color: var(--color-primary);
    }
  }

  .issue-meta {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: normal;
    font-size: 6cqi;

    .left {
      display: flex;
      gap: 2cqi;
      flex-wrap: wrap;

      > div:not(:last-of-type)::after {
        content: "";
        height: 2cqi;
        width: 2cqi;
        padding-bottom: 2cqi;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 2cqi;
      }
    }
  }

  .publication-teaser-link {
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    text-indent: -9999rem;
  }
}
