.article-teasers {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: .75rem;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.article-teaser {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: .25rem;

  .article-contributor {
    @apply font-semibold m-0 text-base leading-tight;
  }

  .article-title {
    @apply font-semibold text-base m-0 leading-tight;
  }

  .notes {
    p {
      @apply my-0 leading-tight;
    }
  }
}

.article-teaser-section-title {
  font-size: 1.25rem;
  margin: 1rem 0 0.25rem;
}
