<div class="content">
	<article class="journal">
		<div class="journal-image">
			{{ featured_image }}
		</div>

		<div class="journal-text">
			<div class="journal-title">
				<h1>{{ title }}</h1>
			</div>
			<div class="journal-body">
				{{ body|raw }}
			</div>
			<div class="journal-paragraphs">
				{{ paragraphs }}
			</div>
		</div>
	</article>
</div>
