.journal {
  @apply flex p-0 m-0 gap-[3cqi];
}

.journal-header {
  display: flex;
  gap: 2rem;
  margin: 0 0 1rem;
}

.journal-title {
  margin-top: 0.25rem;
  flex-grow: 1;
}

.journal-image {
  @apply hidden sm:block relative overflow-hidden shrink-0 basis-1/3 md:basis-1/4 m-0;

  * {
    display: contents;
  }

  img {
    @apply block w-full h-auto p-0;
  }
}

.journal-text {
  @apply flex-1;

  .journal-title {
    @apply mt-0 mb-3;
  }

  .journal-body {
    @apply mb-3;

    p {
      @apply mt-0 mb-2;
    }
  }
}
