@use "variables" as vars;
@use "sass:math";

html {
  font-size: 16px;
}

body {
  font-family: vars.$base-font;
  font-weight: 400;
  color: vars.$text-color;
  font-size: 1rem;
  line-height: vars.$line-height--md;
}

// 54, 36, 24, 16
h1,
h2,
h3,
h4,
%h1,
%h2,
%h3,
%h4 {
  line-height: vars.$line-height--sm;
  font-weight: 700;

  a {
    text-decoration: none;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1,
%h1 {
  font-size: 1.75rem;
  margin-bottom: 0.25em;

  @media all and (width >= 768px) {
    font-size: 1.75rem;
  }

  @media all and (width >= 1024px) {
    font-size: 1.75rem;
  }
}

h2,
%h2 {
  font-size: math.div(1.5rem * 0.75, 1);

  @media all and (width >= 768px) {
    font-size: math.div(1.5rem * 0.825, 1);
  }

  @media all and (width >= 1024px) {
    font-size: 1.5rem;
  }
}

h3,
%h3 {
  font-size: math.div(1.25rem * 0.75, 1);

  @media all and (width >= 768px) {
    font-size: math.div(1.25rem * 0.825, 1);
  }

  @media all and (width >= 1024px) {
    font-size: 1.25rem;
  }
}

h4,
%h4 {
  font-size: math.div(1rem * 0.75, 1);

  @media all and (width >= 768px) {
    font-size: math.div(1rem * 0.825, 1);
  }

  @media all and (width >= 1024px) {
    font-size: 1rem;
  }
}

a,
a:link,
a:visited,
a:focus {
  color: vars.$c--red-dark;

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: vars.$line-height--md;
}
