@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Urbanist:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import "variables";

html {
  font-size: 16px;
}

body {
  font-family: $base-font;
  font-weight: 400;
  color: $text-color;
  font-size: 1rem;
  line-height: $line-height--md;
}

// 54, 36, 24, 16
h1, h2, h3, h4,
%h1, %h2, %h3, %h4 {
  line-height: $line-height--sm;
  font-weight: 700;

  a {
    text-decoration: none;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

h1, %h1 {
  font-size: 1.75rem;
  margin-bottom: .25em;

  @media all and (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media all and (min-width: 1024px) {
    font-size: 1.75rem;
  }
}

h2, %h2 {
  font-size: (1.5rem * .75);

  @media all and (min-width: 768px) {
    font-size: (1.5rem * .825);
  }

  @media all and (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

h3, %h3 {
  font-size: (1.25rem * .75);

  @media all and (min-width: 768px) {
    font-size: (1.25rem * .825);
  }

  @media all and (min-width: 1024px) {
    font-size: 1.25rem;
  }
}

h4, 
%h4 {
  font-size: (1rem * .75);

  @media all and (min-width: 768px) {
    font-size: (1rem * .825);
  }

  @media all and (min-width: 1024px) {
    font-size: 1rem;
  }
}

a, a:link, a:visited, a:focus {
  color: $red;

  &:hover {
    text-decoration: none;
  }
}

p {
  line-height: $line-height--md;
}