$grey-dark: #333333;

$text-color: $grey-dark;

$c--yellow-light: #fffcf0;

$c--yellow: darken($c--yellow-light, 10%);
$c--yellow: desaturate($c--yellow, 60%);

$c--yellow-dark: darken($c--yellow, 10%);
$c--yellow-dark: desaturate($c--yellow-dark, 15%);

$c--red-dark: #9E2727;
$c--red: red;

$base-font: 'Urbanist', sans-serif;
$serif-font: 'Libre Caslon Text', serif;

$line-height--xs: 1;
$line-height--sm: 1.25;
$line-height--md: 1.5;
$line-height--lg: 1.75;
$line-height--xl: 2;