$grey-dark: #333333;

$text-color: $grey-dark;

$yellow: #FBF9E5;
$yellow-dark: #FBF2CE;
$yellow-lightest: #FFFCF0;

$red: #9E2727;

$base-font: 'Urbanist', sans-serif;
$serif-font: 'Libre Caslon Text', serif;

$line-height--xs: 1;
$line-height--sm: 1.25;
$line-height--md: 1.5;
$line-height--lg: 1.75;
$line-height--xl: 2;