* {
  @apply min-h-0 min-w-0;
}

.slick-arrow {
  @apply bg-transparent border-0 absolute top-1/2;
  text-indent: -1000px;
  font-size: 0;
  line-height: 0;
}

.slick-arrow::before {
  @apply block w-[38px] h-[38px] bg-center bg-cover bg-no-repeat;
  background-image: none;
  content: "";
}

.slick-arrow.slick-prev {
  @apply -left-5 md:-left-[30px];
}

.slick-arrow.slick-prev::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z'/%3e%3c/svg%3e");
  content: "";
}

.slick-arrow.slick-next {
  @apply -right-[3px] md:-right-3;
}

.slick-arrow.slick-next::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z'/%3e%3c/svg%3e");
  content: "";
}