table {
  background-color: transparent;
}

table tr {
  /* @apply border-t border-l border-gray-500; */
}

table tr td,
table tr th {
  /* @apply border-r border-b border-gray-500 py-[2px] px-1 leading-[1.4] text-left align-top; */
  /* line-height: 1.2; */
  white-space: nowrap;
}

img[src="0.gif"] {
  display: inline-block;
  width: 1px !important;
  height: 1px !important;
}
