table {
  background-color: transparent;
}

table tr {
  /* @apply border-t border-l border-gray-500; */
}

table tr td,
table tr th {
  /* @apply border-r border-b border-gray-500 py-[2px] px-1 leading-[1.4] text-left align-top; */
}

img[src="0.gif"] {
  position: relative;
  visibility: hidden;
}

img[src="0.gif"] {
  opacity: 0;
}
