<tr class="toc-issue">
  <td>
    <span class="toc-issue-title">
      <a href="{{ url }}" class="toc-issue-link" rel="bookmark">
        Vol. {{ volume_num }} No. {{ issue_num }} ({{date}})
      </a>
    </span>
  </td>
</tr>
