@use "sass:color";

a.button {
  background: #fffcfc;
  border: 1px solid #9e4242;
  font-size: 12px;
  color: #9e2727;
  letter-spacing: 0.43px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  padding: 14px 30px;
  &:hover {
    background: color.adjust(#fffcfc, $lightness: -4%);
  }
}
