@use "../abstracts/variables" as vars;

#page-footer {
  border-top: 4px solid vars.$grey-dark;
  background: vars.$c--yellow-light;
  margin: 0;
}

#block-footerbottom .field--name-body {
  display: flex;
  gap: 18px;

  p {
    margin: 0;
  }
}
