#page-footer {
  border-top: 4px solid $grey-dark;
  background: $yellow-lightest;
  padding: 42px 0;
  margin: 0;
}

.region-footer {
  
}

#block-footerbottom .field--name-body {
  display: flex;
  gap: 18px;

  p {
    margin: 0;
  }
}
