@use "../abstracts/variables" as vars;

.page-header {
  background-color: vars.$c--yellow-light;
  border-bottom: 4px solid vars.$grey-dark;
}

.page-header .layout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-branding {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

#block-however-branding {
  display: contents;
}

a.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.admin-info {
  background-color: vars.$c--yellow-dark;
  border-bottom: 4px solid vars.$grey-dark;
  padding: .5rem 0;
}