.issue {
  padding: 0;
  margin: 0;
}

.issue-header {
  display: flex;
  gap: 2rem;
  margin: 0 0 1rem;
}

.issue-element {
  border: 1px solid blue;
  margin: 0 0 .5rem;
  padding: 1rem;
}

.issue-image {
  margin: 0 0 .5rem;
  overflow: hidden;
  position: relative;
  width: 30%;
  // aspect-ratio: 1/1.5;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  * {
    display: contents;
  }

  img {
    display: block;
    padding: 0;
    width: 100%;
    height: auto;
  }
}

.issue-sections {
  display: block;
  column-count: 3;
}

.section-teaser-card {
  border: 1px solid #515151;
  box-sizing: border-box;
  padding: .75rem;
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  position: relative
}