@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

nav ul.menu {
  margin: 0;
  display: flex;

  ul.menu {
    display: block;
  }
}

.region-navigation {
  display: none;

  @media all and (width >= 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;

    .block-menu {
      flex-grow: 1;
    }

    .block.views-exposed-form {
      flex-shrink: 1;
    }
  }
}

.region-navigation .block-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  > ul.menu {
    justify-content: flex-end;
    gap: 1.5rem;

    > li.menu-item {
      position: relative;
      padding: 0.25rem 0;

      // background-color: pink;

      > a {
        color: vars.$text-color;
        font-weight: bold;
        text-decoration: none;
        display: block;
        padding: 0.25rem 0;

        // background-color: yellow;

        &:hover,
        &.active,
        &.active-trail {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-item--collapsed {
    list-style-image: none;
    list-style-type: none;
  }
}

ul.menu li.menu-item--expanded {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

// dropdowns
#block-however-main-menu > ul.menu > li.menu-item--expanded > ul {
  @include mixins.box-shadow;

  display: none;
  position: absolute;
  background: #fff;
  z-index: 1000;
  left: 0;
  top: 2.25rem;
  margin: 0;
  width: 10rem;
  gap: 0;
  padding: 0;
  box-sizing: border-box;

  li {
    margin: 0;
    padding: 0;
  }

  li a {
    width: 100%;
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    margin: 0;
    display: inline-block;

    // background-color: pink;

    &:hover {
      text-decoration: underline;
    }
  }
}

#block-however-main-menu > ul.menu > li.menu-item--expanded:hover > ul {
  display: block;
}

#page-footer .block-menu ul.menu {
  gap: 32px;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  li a {
    color: vars.$text-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mobile-menu-icon {
  @media all and (width >= 768px) {
    display: none;
  }
}

#mobile-navigation {
  display: none;
  background: #fff;
  padding: 54px 18px;
  text-align: center;

  &.active {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    inset: 0;
  }

  .close-modal {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

#mobile-navigation #block-mainnavigation > ul.menu {
  display: block;
  text-align: center;

  > li {
    margin-bottom: 24px;

    &.menu-item--collapsed {
      list-style-type: none !important;
      list-style-image: none !important;
    }

    > a {
      color: vars.$text-color;
      font-size: 24px;
      font-weight: 900;
      text-decoration: none;
    }
  }
}
