@use "../abstracts/variables" as vars;
@use "card" as card;
@use "sass:math";

.node {
  a {
    color: vars.$text-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.node--view-mode-search-result {
  margin-bottom: 54px;

  h2 {
    margin-bottom: 8px;
  }

  .field--name-field-person {
    &::before {
      content: "by";
      font-style: italic;
      margin-right: 4px;
    }
  }
}

.issue-top-content {
  @media all and (width >= 1024px) {
    display: flex;
    justify-content: center;
    gap: 36px;
    align-items: center;
    max-width: 92%;
    margin: 0 auto;

    .image {
      width: 25%;
    }

    .issue-title-meta {
      width: calc(75% - 36px);
    }
  }
}

.node--issue.node--view-mode-teaser {
  @extend .block-card;
}

.node--issue.node--view-mode-teaser {
  .issue-volume-number,
  .field--name-field-publication-date-display {
    text-decoration: none !important;
    color: #0f0f0f !important;
  }
}

.node--issue.node--view-mode-full {
  #masthead {
    display: none;
  }
}

.node--type-how2-volume,
.node--type-however-volume {
  .field--name-field-how2-issue,
  .field--name-field-how-ever-issue {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 30px;

    > .field__item {
      min-width: 280px;
    }

    > .field__item > article {
      height: 100%;
    }

    @media all and (width >= 480px) {
      flex-direction: row;

      > .field__item {
        width: calc(50% - 30px);
      }
    }

    @media all and (width >= 768px) {
      > .field__item {
        width: calc(33% - 30px);
      }
    }

    @media all and (width >= 1024px) {
      > .field__item {
        width: calc(25% - 30px);
      }
    }
  }
}

.node--type-journal-issue {
  .issue-tabs {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 24px;
      list-style: none;
      margin: 24px 0 36px;
      padding: 0;

      li {
        margin: 0;
        padding: 0;

        a {
          font-weight: 900;
          color: vars.$text-color;
          text-decoration: none;
          padding-bottom: 3px;

          &.active,
          &:hover {
            border-bottom: 3px solid vars.$c--red-dark;
          }
        }
      }
    }
  }

  .tab-body {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    animation-duration: 1s;
    animation-fill-mode: both;

    &.active {
      display: block;
      opacity: 1;
      animation-name: fadeIn;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.node--type-how2-section.node--view-mode-full,
.node--type-how-ever-section.node--view-mode-full {
  .node__content {
    max-width: 748px;
    margin: 0 auto;
  }

  .field--name-field-image-caption {
    float: right;
    width: 40%;
    max-width: 300px;
    margin: 0 0 24px 48px;
  }

  > .node__content > .field--name-field-how2-piece,
  > .node__content > .field--name-field-how-ever-piece {
    margin-bottom: 54px;

    > .field__item {
      margin-bottom: 22px;
    }
  }
}

.node--type-how2-section.node--view-mode-teaser,
.node--type-how-ever-section.node--view-mode-teaser {
  .section-title a {
    font-weight: bold;
    color: vars.$text-color;
  }

  .node--type-how2-section.node--view-mode-full
    .field--name-field-how2-piece
    > .field__item,
  .node--type-how-ever-section.node--view-mode-full
    .field--name-field-how-ever-piece
    > .field__item {
    line-height: 1.8;
    margin: 0 0 0.4em;
  }
}

.node--article {
  .view-article-section {
    text-align: center;
  }

  .node__content {
    max-width: 748px;
    margin: 0 auto;
  }

  .field--name-body,
  .field--name-field-body-sections {
    font-family: vars.$serif-font;

    p {
      line-height: 1.8;
    }
  }

  .field--name-field-body-sections .field--name-field-title {
    font-weight: bold;
    font-size: 20px;
    margin: 12px 0;
  }
}

.node--type-how-ever-section.node--view-mode-full,
.node--type-how-ever-article.node--view-mode-full {
  .node__content {
    width: 100% !important;
    max-width: 100% !important;

    .article-content {
      display: flex;
      gap: 80px;
    }

    .content-text-inner {
      width: calc(100% - 280px);
    }
  }
}

.node .author-name {
  font-size: 24px;
}
