@use "sass:color";

.tabs.primary {
  font-size: 1.125rem;
  margin: 0;
  display: flex;
  gap: 0.25em;

  li {
    a {
      font-size: 1em;
      font-weight: 600;
      line-height: 1;
      padding: 0.35em 0.5em;
      background-color: color.adjust(#fff, $alpha: -0.7);
      border-radius: 0.25em;
      transition: all 0.2s linear;

      &:hover {
        background-color: #fff;
        color: red;
      }

      &.is-active {
        background-color: color.adjust(#fff, $alpha: -0.25);

        &:hover {
          background-color: #fff;
          color: red;
        }
      }
    }
  }
}
