@use "../abstracts/variables" as vars;
@use "card" as card;

.node--view-mode-teaser-card {
  @extend .block-card;

  > h2 {
    font-size: 16px;
    border-bottom: 1px solid #979797;
    padding-bottom: 12px;
    text-align: center;

    a {
      color: vars.$text-color;
    }
  }

  .field--name-field-image-caption {
    text-align: center;
    margin-top: -12px;
  }

  .field--name-field-subtitle {
    text-align: center;
  }
}

.node--view-mode-cross-post-teaser-card {
  padding: 0;
  text-align: center;

  > .image-top {
    position: relative;
    min-height: 24px;

    .content-type {
      position: absolute;
      left: 0;
      top: 0;
      background: #171717;
      color: #fff;
      padding: 2px 12px;
      border-radius: 0 0 4px;
      font-size: 12px;
      font-weight: bold;
      line-height: 1;
    }

    .volume-issue {
      position: absolute;
      right: 10px;
      bottom: -24px;
      background: #171717;
      color: #fff;
      line-height: 1;
      font-size: 14px;
      padding: 12px;
      border-radius: 28px;
    }

    img {
      display: inline-block;
    }

    .field--name-field-caption {
      display: none;
    }
  }

  > .content {
    padding: 8px 24px 36px;

    .journal-logo img {
      display: inline-block;
    }

    .pub-date {
      font-size: 12px;
    }

    h3 {
      margin: 10px;
      line-height: 1.125;
    }

    h3 a {
      color: vars.$text-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.teaser-card--issue {
  padding: 0;

  .field--name-field-cover-thumbnail {
    text-align: center;
    aspect-ratio: 1 / 1;

    img {
      object-fit: contain;
      object-position: center center;
      height: 100%;
      margin-bottom: -4px;
    }
  }

  .node__content {
    padding: 32px 24px;
    text-align: center;
  }

  .field--name-field-issue-number {
    display: inline-block;
    background: #2e2e2e;
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 245px;
    left: 40%;
    right: 40%;
  }

  .issue-meta {
    justify-content: center;
    font-weight: normal;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 0;

    a {
      color: vars.$text-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
