.issue-meta {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  font-weight: 700;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  @media (--md) {
    flex-direction: column;
    justify-content: flex-start;
  }

  > .row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: 700;
    justify-content: flex-start;
    border-top: 0 solid #919191;
    border-bottom: 0 solid #919191;
    padding: 0;
    margin: 0;
    line-height: 1;

    @media (--md) {
      flex-direction: row;
    }

    > div {
      width: min-content;
      white-space: nowrap;
    }

    &.row-second {
      margin-top: 0;
      align-items: flex-end;

      > div {
        margin-top: 0;
      }

      &:not(:has(> div)) {
        margin-top: -0.5rem;
      }
    }
  }
}
